<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SQLTesti2</servlet-name>
        <servlet-class>Kokeilut.SQLTesti2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Tietokanta.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmoServlet</servlet-name>
        <servlet-class>Servletit.EmoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautuminen</servlet-name>
        <servlet-class>Servletit.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViikkoaikatauluServlet</servlet-name>
        <servlet-class>Servletit.ViikkoaikatauluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OmatVarauksetServlet</servlet-name>
        <servlet-class>Servletit.OmatVarauksetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoitoOhjeetServlet</servlet-name>
        <servlet-class>Servletit.HoitoOhjeetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TyotehtavatServlet</servlet-name>
        <servlet-class>Servletit.TyotehtavatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OirekuvausServlet</servlet-name>
        <servlet-class>Servletit.OirekuvausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotilaatServlet</servlet-name>
        <servlet-class>Servletit.PotilaatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotilaanTiedotServlet</servlet-name>
        <servlet-class>Servletit.PotilaanTiedotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaHoitoOhjeServlet</servlet-name>
        <servlet-class>Servletit.LisaaHoitoOhjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaPotilasraporttiServlet</servlet-name>
        <servlet-class>Servletit.LisaaPotilasraporttiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PomoServlet</servlet-name>
        <servlet-class>Servletit.PomoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AikatauluServlet</servlet-name>
        <servlet-class>Servletit.AikatauluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotilasTietoServlet</servlet-name>
        <servlet-class>Servletit.LisaaPotilasTietoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuoTiliServlet</servlet-name>
        <servlet-class>Servletit.LuoTiliServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SQLTesti2</servlet-name>
        <url-pattern>/SQLTesti2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmoServlet</servlet-name>
        <url-pattern>/EmoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautuminen</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViikkoaikatauluServlet</servlet-name>
        <url-pattern>/viikkoaikataulu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OmatVarauksetServlet</servlet-name>
        <url-pattern>/omatvaraukset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoitoOhjeetServlet</servlet-name>
        <url-pattern>/hoito-ohjeet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TyotehtavatServlet</servlet-name>
        <url-pattern>/tyotehtavat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OirekuvausServlet</servlet-name>
        <url-pattern>/oirekuvaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotilaatServlet</servlet-name>
        <url-pattern>/potilaat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotilaanTiedotServlet</servlet-name>
        <url-pattern>/potilaantiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaHoitoOhjeServlet</servlet-name>
        <url-pattern>/lisaahoitoohje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaPotilasraporttiServlet</servlet-name>
        <url-pattern>/lisaapotilasraportti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PomoServlet</servlet-name>
        <url-pattern>/pomonsivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AikatauluServlet</servlet-name>
        <url-pattern>/AikatauluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotilasTietoServlet</servlet-name>
        <url-pattern>/PotilasTietoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuoTiliServlet</servlet-name>
        <url-pattern>/luouusitili</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
